<?php
#
# Configuration template (may be instantiated) for gladiwashere-php-mysql.
#
# This file is part of gladiwashere-php-mysql.
# (C) 2012-2017 Indie Computing Corp.
#
# gladiwashere-php-mysql is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# gladiwashere-php-mysql is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with gladiwashere-php-mysql.  If not, see <http://www.gnu.org/licenses/>.
#

$dbName   = '${appconfig.mysql.dbname.maindb}';
$dbUser   = '${appconfig.mysql.dbuser.maindb}';
$dbPass   = '${escapeSquote( appconfig.mysql.dbusercredential.maindb )}';
$dbServer = '${appconfig.mysql.dbhost.maindb}';
