<?php
#
# Configuration template (may be instantiated) for gladiwashere-php-mysql.
#
# Copyright (C) 2014 and later, Indie Computing Corp. All rights reserved. License: see package.
#

$dbName   = '${appconfig.mysql.dbname.maindb}';
$dbUser   = '${appconfig.mysql.dbuser.maindb}';
$dbPass   = '${escapeSquote( appconfig.mysql.dbusercredential.maindb )}';
$dbServer = '${appconfig.mysql.dbhost.maindb}';
