!name:${package.name}
!appid:${installable.accessoryinfo.appid}
!accessoryid:${installable.accessoryinfo.accessoryid}
!accessorytype:${installable.accessoryinfo.accessorytype}
!customizationpoints.justmeone.filename:${installable.customizationpoints.justmeone.filename}
!customizationpoints.justmeone.value:${installable.customizationpoints.justmeone.value}
!customizationpoints.justmeone.escapeSquoteValue:${escapeSquote( installable.customizationpoints.justmeone.value )}
!customizationpoints.justmeone.escapeDquoteValue:${escapeDquote( installable.customizationpoints.justmeone.value )}
!customizationpoints.justmeone.trimValue:${trim( installable.customizationpoints.justmeone.value )}
!customizationpoints.justmeone.cr2spaceValue:${cr2space( installable.customizationpoints.justmeone.value )}
!customizationpoints.string2.filename:${installable.customizationpoints.string2.filename}
!customizationpoints.string2.value:${installable.customizationpoints.string2.value}
!customizationpoints.string2.escapeSquoteValue:${escapeSquote( installable.customizationpoints.string2.value )}
!customizationpoints.string2.escapeDquoteValue:${escapeDquote( installable.customizationpoints.string2.value )}
!customizationpoints.string2.trimValue:${trim( installable.customizationpoints.string2.value )}
!customizationpoints.string2.cr2spaceValue:${cr2space( installable.customizationpoints.string2.value )}
!customizationpoints.integer10.filename:${installable.customizationpoints.integer10.filename}
!customizationpoints.integer10.value:${installable.customizationpoints.integer10.value}
!customizationpoints.integer10.escapeSquoteValue:${escapeSquote( installable.customizationpoints.integer10.value )}
!customizationpoints.integer10.escapeDquoteValue:${escapeDquote( installable.customizationpoints.integer10.value )}
!customizationpoints.integer10.trimValue:${trim( installable.customizationpoints.integer10.value )}
!customizationpoints.integer10.cr2spaceValue:${cr2space( installable.customizationpoints.integer10.value )}
!customizationpoints.positiveinteger11.value:${installable.customizationpoints.positiveinteger11.value}
!customizationpoints.positiveinteger11.escapeSquoteValue:${escapeSquote( installable.customizationpoints.positiveinteger11.value )}
!customizationpoints.positiveinteger11.escapeDquoteValue:${escapeDquote( installable.customizationpoints.positiveinteger11.value )}
!customizationpoints.positiveinteger11.trimValue:${trim( installable.customizationpoints.positiveinteger11.value )}
!customizationpoints.positiveinteger11.cr2spaceValue:${cr2space( installable.customizationpoints.positiveinteger11.value )}
!customizationpoints.positiveintegerorzero12.value:${installable.customizationpoints.positiveintegerorzero12.value}
!customizationpoints.positiveintegerorzero12.escapeSquoteValue:${escapeSquote( installable.customizationpoints.positiveintegerorzero12.value )}
!customizationpoints.positiveintegerorzero12.escapeDquoteValue:${escapeDquote( installable.customizationpoints.positiveintegerorzero12.value )}
!customizationpoints.positiveintegerorzero12.trimValue:${trim( installable.customizationpoints.positiveintegerorzero12.value )}
!customizationpoints.positiveintegerorzero12.cr2spaceValue:${cr2space( installable.customizationpoints.positiveintegerorzero12.value )}
!customizationpoints.positiveintegerorzero13.value:${installable.customizationpoints.positiveintegerorzero13.value}
!customizationpoints.positiveintegerorzero13.escapeSquoteValue:${escapeSquote( installable.customizationpoints.positiveintegerorzero13.value )}
!customizationpoints.positiveintegerorzero13.escapeDquoteValue:${escapeDquote( installable.customizationpoints.positiveintegerorzero13.value )}
!customizationpoints.positiveintegerorzero13.trimValue:${trim( installable.customizationpoints.positiveintegerorzero13.value )}
!customizationpoints.positiveintegerorzero13.cr2spaceValue:${cr2space( installable.customizationpoints.positiveintegerorzero13.value )}
!customizationpoints.image14.filename:${installable.customizationpoints.image14.filename}
!customizationpoints.image14.value:${installable.customizationpoints.image14.value}
!customizationpoints.image14.escapeSquoteValue:${escapeSquote( installable.customizationpoints.image14.value )}
!customizationpoints.image14.escapeDquoteValue:${escapeDquote( installable.customizationpoints.image14.value )}
!customizationpoints.image14.trimValue:${trim( installable.customizationpoints.image14.value )}
!customizationpoints.image14.cr2spaceValue:${cr2space( installable.customizationpoints.image14.value )}
