!name:${package.name}
!appid:${installable.accessoryinfo.appid}
!accessoryid:${installable.accessoryinfo.accessoryid}
!accessorytype:${installable.accessoryinfo.accessorytype}
!customizationpoints.justmeone.filename:${installable.customizationpoints.justmeone.filename}
!customizationpoints.justmeone.value:${installable.customizationpoints.justmeone.value}
!customizationpoints.justmeone.escapeSquoteValue:${escapeSquote( installable.customizationpoints.justmeone.value )}
!customizationpoints.justmeone.escapeDquoteValue:${escapeDquote( installable.customizationpoints.justmeone.value )}
!customizationpoints.justmeone.trimValue:${trim( installable.customizationpoints.justmeone.value )}
!customizationpoints.justmeone.cr2spaceValue:${cr2space( installable.customizationpoints.justmeone.value )}
!customizationpoints.string2.filename:${installable.customizationpoints.string2.filename}
!customizationpoints.string2.value:${installable.customizationpoints.string2.value}
!customizationpoints.string2.escapeSquoteValue:${escapeSquote( installable.customizationpoints.string2.value )}
!customizationpoints.string2.escapeDquoteValue:${escapeDquote( installable.customizationpoints.string2.value )}
!customizationpoints.string2.trimValue:${trim( installable.customizationpoints.string2.value )}
!customizationpoints.string2.cr2spaceValue:${cr2space( installable.customizationpoints.string2.value )}
!customizationpoints.email3.filename:${installable.customizationpoints.email3.filename}
!customizationpoints.email3.value:${installable.customizationpoints.email3.value}
!customizationpoints.email3.escapeSquoteValue:${escapeSquote( installable.customizationpoints.email3.value )}
!customizationpoints.email3.escapeDquoteValue:${escapeDquote( installable.customizationpoints.email3.value )}
!customizationpoints.email3.trimValue:${trim( installable.customizationpoints.email3.value )}
!customizationpoints.email3.cr2spaceValue:${cr2space( installable.customizationpoints.email3.value )}
!customizationpoints.url4.filename:${installable.customizationpoints.url4.filename}
!customizationpoints.url4.value:${installable.customizationpoints.url4.value}
!customizationpoints.url4.escapeSquoteValue:${escapeSquote( installable.customizationpoints.url4.value )}
!customizationpoints.url4.escapeDquoteValue:${escapeDquote( installable.customizationpoints.url4.value )}
!customizationpoints.url4.trimValue:${trim( installable.customizationpoints.url4.value )}
!customizationpoints.url4.cr2spaceValue:${cr2space( installable.customizationpoints.url4.value )}
!customizationpoints.url5.filename:${installable.customizationpoints.url5.filename}
!customizationpoints.url5.value:${installable.customizationpoints.url5.value}
!customizationpoints.url5.escapeSquoteValue:${escapeSquote( installable.customizationpoints.url5.value )}
!customizationpoints.url5.escapeDquoteValue:${escapeDquote( installable.customizationpoints.url5.value )}
!customizationpoints.url5.trimValue:${trim( installable.customizationpoints.url5.value )}
!customizationpoints.url5.cr2spaceValue:${cr2space( installable.customizationpoints.url5.value )}
!customizationpoints.text6.filename:${installable.customizationpoints.text6.filename}
!customizationpoints.text6.value:${installable.customizationpoints.text6.value}
!customizationpoints.text6.escapeSquoteValue:${escapeSquote( installable.customizationpoints.text6.value )}
!customizationpoints.text6.escapeDquoteValue:${escapeDquote( installable.customizationpoints.text6.value )}
!customizationpoints.text6.trimValue:${trim( installable.customizationpoints.text6.value )}
!customizationpoints.text6.cr2spaceValue:${cr2space( installable.customizationpoints.text6.value )}
!customizationpoints.password7.filename:${installable.customizationpoints.password7.filename}
!customizationpoints.password7.value:${installable.customizationpoints.password7.value}
!customizationpoints.password7.escapeSquoteValue:${escapeSquote( installable.customizationpoints.password7.value )}
!customizationpoints.password7.escapeDquoteValue:${escapeDquote( installable.customizationpoints.password7.value )}
!customizationpoints.password7.trimValue:${trim( installable.customizationpoints.password7.value )}
!customizationpoints.password7.cr2spaceValue:${cr2space( installable.customizationpoints.password7.value )}
!customizationpoints.boolean8.filename:${installable.customizationpoints.boolean8.filename}
!customizationpoints.boolean8.value:${installable.customizationpoints.boolean8.value}
!customizationpoints.boolean8.escapeSquoteValue:${escapeSquote( installable.customizationpoints.boolean8.value )}
!customizationpoints.boolean8.escapeDquoteValue:${escapeDquote( installable.customizationpoints.boolean8.value )}
!customizationpoints.boolean8.trimValue:${trim( installable.customizationpoints.boolean8.value )}
!customizationpoints.boolean8.cr2spaceValue:${cr2space( installable.customizationpoints.boolean8.value )}
!customizationpoints.integer9.filename:${installable.customizationpoints.integer9.filename}
!customizationpoints.integer9.value:${installable.customizationpoints.integer9.value}
!customizationpoints.integer9.escapeSquoteValue:${escapeSquote( installable.customizationpoints.integer9.value )}
!customizationpoints.integer9.escapeDquoteValue:${escapeDquote( installable.customizationpoints.integer9.value )}
!customizationpoints.integer9.trimValue:${trim( installable.customizationpoints.integer9.value )}
!customizationpoints.integer9.cr2spaceValue:${cr2space( installable.customizationpoints.integer9.value )}
