{
    "name"          : "${package.name}",
    "appid"         : "${installable.accessoryinfo.appid}",
    "accessoryid"   : "${installable.accessoryinfo.accessoryid}",
    "accessorytype" : "${installable.accessoryinfo.accessorytype}"

    "customizationpoints" : {
        "justmetwo" : {
            "filename"          : "${installable.customizationpoints.justmetwo.filename}",
            "value"             : "${installable.customizationpoints.justmetwo.value}",
            "escapeSquoteValue" : "${escapeSquote( installable.customizationpoints.justmetwo.value )}",
            "escapeDquoteValue" : "${escapeDquote( installable.customizationpoints.justmetwo.value )}",
            "trimValue"         : "${trim( installable.customizationpoints.justmetwo.value )}",
            "cr2spaceValue"     : "${cr2space( installable.customizationpoints.justmetwo.value )}"
        },
        "integer9" : {
            "filename"          : "${installable.customizationpoints.integer9.filename}",
            "value"             : "${installable.customizationpoints.integer9.value}",
            "escapeSquoteValue" : "${escapeSquote( installable.customizationpoints.integer9.value )}",
            "escapeDquoteValue" : "${escapeDquote( installable.customizationpoints.integer9.value )}",
            "trimValue"         : "${trim( installable.customizationpoints.integer9.value )}",
            "cr2spaceValue"     : "${cr2space( installable.customizationpoints.integer9.value )}"
        },
        "integer10" : {
            "filename"          : "${installable.customizationpoints.integer10.filename}",
            "value"             : "${installable.customizationpoints.integer10.value}",
            "escapeSquoteValue" : "${escapeSquote( installable.customizationpoints.integer10.value )}",
            "escapeDquoteValue" : "${escapeDquote( installable.customizationpoints.integer10.value )}",
            "trimValue"         : "${trim( installable.customizationpoints.integer10.value )}",
            "cr2spaceValue"     : "${cr2space( installable.customizationpoints.integer10.value )}"
        },
        "positiveinteger11" : {
            "filename"          : "${installable.customizationpoints.positiveinteger11.filename}",
            "value"             : "${installable.customizationpoints.positiveinteger11.value}",
            "escapeSquoteValue" : "${escapeSquote( installable.customizationpoints.positiveinteger11.value )}",
            "escapeDquoteValue" : "${escapeDquote( installable.customizationpoints.positiveinteger11.value )}",
            "trimValue"         : "${trim( installable.customizationpoints.positiveinteger11.value )}",
            "cr2spaceValue"     : "${cr2space( installable.customizationpoints.positiveinteger11.value )}"
        },
        "positiveintegerorzero12" : {
            "filename"          : "${installable.customizationpoints.positiveintegerorzero12.filename}",
            "value"             : "${installable.customizationpoints.positiveintegerorzero12.value}",
            "escapeSquoteValue" : "${escapeSquote( installable.customizationpoints.positiveintegerorzero12.value )}",
            "escapeDquoteValue" : "${escapeDquote( installable.customizationpoints.positiveintegerorzero12.value )}",
            "trimValue"         : "${trim( installable.customizationpoints.positiveintegerorzero12.value )}",
            "cr2spaceValue"     : "${cr2space( installable.customizationpoints.positiveintegerorzero12.value )}"
        },
        "positiveintegerorzero13" : {
            "filename"          : "${installable.customizationpoints.positiveintegerorzero13.filename}",
            "value"             : "${installable.customizationpoints.positiveintegerorzero13.value}",
            "escapeSquoteValue" : "${escapeSquote( installable.customizationpoints.positiveintegerorzero13.value )}",
            "escapeDquoteValue" : "${escapeDquote( installable.customizationpoints.positiveintegerorzero13.value )}",
            "trimValue"         : "${trim( installable.customizationpoints.positiveintegerorzero13.value )}",
            "cr2spaceValue"     : "${cr2space( installable.customizationpoints.positiveintegerorzero13.value )}"
        },
        "image14" : {
            "filename"          : "${installable.customizationpoints.image14.filename}",
            "value"             : "-- Cannot print, image --",
            "escapeSquoteValue" : "-- Cannot print, image --",
            "escapeDquoteValue" : "-- Cannot print, image --",
            "trimValue"         : "-- Cannot print, image --",
            "cr2spaceValue"     : "-- Cannot print, image --"
        }
    }
}
