<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2014 and later, Indie Computing Corp. All rights reserved. License: see package.
-->

<Context path="${appconfig.context}"
         antiResourceLocking="true"
         cookies="false"
         docBase="/usr/lib/java/${groupId}/${pkgname}/${pkgver}/${pkgname}-${pkgver}.war">

  <Loader className="org.diet4j.tomcat.TomcatModuleLoader"
           rootmodule="gladiwashere-java-mysql"/>

  <Resource auth="Container"
            type="javax.sql.DataSource"
            driverClassName="com.mysql.jdbc.Driver"
            name="jdbc/maindb"
            url="jdbc:mysql://${appconfig.mysql.dbhost.maindb}/${appconfig.mysql.dbname.maindb}"
            username="${appconfig.mysql.dbuser.maindb}"
            password="${escapeDquote( appconfig.mysql.dbusercredential.maindb )}"
            maxTotal="20"
            maxIdle="10"
            maxWaitMillis="-1"/>
</Context>
