<div class="footer">
 <hr/>
 <h4>Footer, from the <tt>gladiwashere-footer</tt> accessory.</h4>
 <p>Message you entered as customization point: &quot;${installable.customizationpoints.message.value}&quot;</p>
 <hr/>
</div>
