<?php
#
# Configuration template (may be instantiated) for gladiwashere-php-postgresql.
#
# Copyright (C) 2014 and later, Indie Computing Corp. All rights reserved. License: see package.
#

$dbName   = '${appconfig.postgresql.dbname.maindb}';
$dbUser   = '${appconfig.postgresql.dbuser.maindb}';
$dbPass   = '${escapeSquote( appconfig.postgresql.dbusercredential.maindb )}';
$dbServer = '${appconfig.postgresql.dbhost.maindb}';
