<Directory "${appconfig.apache2.dir}">
    # Settings required by passenger
    AllowOverride All
    Options -MultiViews

    PassengerAppRoot ${appconfig.datadir}/approot
    PassengerUser http
    PassengerGroup http

    SetEnv RAILS_MASTER_KEY ${installable.customizationpoints.railsmasterkey.value}
    SetEnv SECRET_KEY_BASE  ${installable.customizationpoints.secretkeybase.value}
</Directory>
