<?php
function readData( $filename ) {
    $ret = array();

    $content = file_get_contents( $filename );
    $elements = preg_split( '/^!?/m', $content );
    foreach( $elements as $element ) {
        if( preg_match( '/(.*?):(.*)/', $element, $matches )) {
            $name  = $matches[1];
            $value = $matches[2];

            $nameComponents = preg_split( '/\./', $name );

            $current = &$ret;
            $nameComponentsWithoutLast = $nameComponents;
            array_pop( $nameComponentsWithoutLast );
            foreach( $nameComponentsWithoutLast as $nameComponent ) {
                if( !array_key_exists( $nameComponent, $current )) {
                    $current[$nameComponent] = array();
                }
                $current = &$current[$nameComponent];
            }
            $last = end( $nameComponents );
            $current[$last] = $value;
        }
    }
    return $ret;
}

function emit( $s ) {
    if( preg_match( '/[^[:print:]]/', $s )) {
        return '-- (binary) --';
    } else {
        return $s;
    }
}

?>
<html>
 <head>
  <title>wollmilchsau: UBOS testing app</title>
  <style>
* {
    font-family: Arial, Sans-Serif;
}
html,
table {
    font-size: 12px;
}
pre, code {
    font-family: Courier New, Courier;
}
pre::before,
code::before {
    content: "[";
}
pre::after,
code::after {
    content: "]";
}
pre {
    margin: 0;
}
h1 {
    text-align: center;
}
h2 {
    background: #f0f0f0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #808080;
    padding: 1px 5px;
}
tbody th {
    text-align: left;
}
  </style>
 </head>
 <body>
  <h1>wollmilchsau -- UBOS testing app</h1>

  <h2>Variables</h2>
  <table>
   <thead>
    <tr>
     <th>Name</th>
     <th>Value</th>
    </tr>
   </thead>
   <tr>
    <th>Accessory Ids:</th>
    <td><code>${appconfig.accessoryids}</code></th>
   </tr>
   <tr>
    <th>AppConfigId:</th>
    <td><code>${appconfig.appconfigid}</code></th>
   </tr>
   <tr>
    <th>Context:</th>
    <td><code>${appconfig.context}</code></th>
   </tr>
   <tr>
    <th>ContextNoSlashOrRoot:</th>
    <td><code>${appconfig.contextnoslashorroot}</code></th>
   </tr>
   <tr>
    <th>ContextOrSlash:</th>
    <td><code>${appconfig.contextorslash}</code></th>
   </tr>
   <tr>
    <th>DataDir:</th>
    <td><code>${appconfig.datadir}</code></th>
   </tr>
   <tr>
    <th>Admin credential:</th>
    <td><code>${site.admin.credential}</code></th>
   </tr>
   <tr>
    <th>Admin email:</th>
    <td><code>${site.admin.email}</code></th>
   </tr>
   <tr>
    <th>Admin userid:</th>
    <td><code>${site.admin.userid}</code></th>
   </tr>
   <tr>
    <th>Admin username:</th>
    <td><code>${site.admin.username}</code></th>
   </tr>
   <tr>
    <th>Site hostname:</th>
    <td><code>${site.hostname}</code></th>
   </tr>
   <tr>
    <th>Site protocol:</th>
    <td><code>${site.protocol}</code></th>
   </tr>
   <tr>
    <th>Site protocolport:</th>
    <td><code>${site.protocolport}</code></th>
   </tr>
   <tr>
    <th>Site id:</th>
    <td><code>${site.siteid}</code></th>
   </tr>
  </table>

  <h2>Random values</h2>

  <table>
   <thead>
    <tr>
     <th>Name</th>
     <th>Value</th>
    </tr>
   </thead>
   <tr>
    <th>randomHex(1)</th>
    <td><code>${randomHex(1)}</code></th>
   </tr>
   <tr>
    <th>randomHex(8)</th>
    <td><code>${randomHex(8)}</code></th>
   </tr>
   <tr>
    <th>randomHex(40)</th>
    <td><code>${randomHex(40)}</code></th>
   </tr>
   <tr>
    <th>randomIdentifier(1)</th>
    <td><code>${randomIdentifier(1)}</code></th>
   </tr>
   <tr>
    <th>randomIdentifier(8)</th>
    <td><code>${randomIdentifier(8)}</code></th>
   </tr>
   <tr>
    <th>randomIdentifier(40)</th>
    <td><code>${randomIdentifier(40)}</code></th>
   </tr>
   <tr>
    <th>randomPassword(1)</th>
    <td><code>${randomPassword(1)}</code></th>
   </tr>
   <tr>
    <th>randomPassword(8)</th>
    <td><code>${randomPassword(8)}</code></th>
   </tr>
   <tr>
    <th>randomPassword(40)</th>
    <td><code>${randomPassword(40)}</code></th>
   </tr>
  </table>

  <h2>App</h2>
<?php
    $appData = readData( '${appconfig.apache2.dir}/app-content.txt' );
?>
  <p>Name: <code><?= $appData['name'] ?></code></p>
  <table>
   <thead>
    <tr>
     <th>Customizationpoint</th>
     <th>Value</th>
     <th>Value (squote)</th>
     <th>Value (dquote)</th>
     <th>Value (trim)</th>
     <th>Value (cs2space)</th>
     <th>Filename</th>
    </tr>
   </thead>
<?php
    foreach( array( 'string1', 'string2', 'email3', 'url4', 'url5', 'text6', 'password7',
                    'boolean8', 'integer9', 'integer10', 'positiveinteger11',
                    'positiveintegerorzero12', 'positiveintegerorzero13', 'image14' ) as $name ) {
?>
   <tr>
    <td><code><?= $name ?></code></td>
    <td><pre><?= emit( $appData['customizationpoints'][$name]['value']             ) ?></pre></td>
    <td><pre><?= emit( $appData['customizationpoints'][$name]['escapeSquoteValue'] ) ?></pre></td>
    <td><pre><?= emit( $appData['customizationpoints'][$name]['escapeDquoteValue'] ) ?></pre></td>
    <td><pre><?= emit( $appData['customizationpoints'][$name]['trimValue'] )         ?></pre></td>
    <td><pre><?= emit( $appData['customizationpoints'][$name]['cr2spaceValue'] )     ?></pre></td>
    <td><code><?= emit( $appData['customizationpoints'][$name]['filename'] )         ?></code></td>
   </tr>
<?php
    }
?>
  </table>

  <h2>Accessories</h2>
<?php
$allAccData = array();
if( $dirHandle = opendir( '${appconfig.apache2.dir}/from-accessories')) {
?>
  <table>
   <thead>
    <tr>
     <th>Accessory</th>
     <th>Property</th>
     <th>Value</th>
    </tr>
   </thead>
<?php
    while( false !== ( $dirEntry = readdir( $dirHandle ))) {
        if( $dirEntry == '.' || $dirEntry == '..' ) {
            continue;
        }

        $newAccData = readData( "${appconfig.apache2.dir}/from-accessories/$dirEntry" );
        $allAccData[$newAccData['name']] = $newAccData;
?>
   <tr>
    <th rowspan="3"><?= $newAccData['name'] ?></th>
    <td>App id</td>
    <td><?= $newAccData['appid'] ?></td>
   </tr>
   <tr>
    <td>Accessory id</td>
    <td><?= $newAccData['accessoryid'] ?></td>
   </tr>
   <tr>
    <td>Accessory type</td>
    <td><?= $newAccData['accessorytype'] ?></td>
   </tr>
<?php
    }
    closedir( $dirHandle );
?>
  </table>
<?php
} else {
?>
  <p class="error">Cannot open directory <code>${appconfig.apache2.dir}/from-accessories</code>.</p>
<?php
}
?>
  <h2>Accessories: Customizationpoints</h2>
  <table>
   <thead>
    <tr>
     <th>Accessory</th>
     <th>Customizationpoint</th>
     <th>Value</th>
     <th>Value (squote)</th>
     <th>Value (dquote)</th>
     <th>Value (trim)</th>
     <th>Value (cs2space)</th>
     <th>Filename</th>
    </tr>
   </thead>
<?php
foreach( $allAccData as $accName => $accData ) {

    $nCustomizationPoints = count( $accData['customizationpoints'] );
    if( $nCustomizationPoints > 0 ) {
        $isFirst = TRUE;

        foreach( $accData['customizationpoints'] as $name => $data ) {
?>
   <tr>
<?php
            if( $isFirst ) {
?>
    <th rowspan="<?= $nCustomizationPoints?>"><code><?= $accName ?></code></th>
<?php
                $isFirst = FALSE;
            }
?>
    <td><code><?= $name ?></code></td>
    <td><pre><?= emit( $data['value']             ) ?></pre></td>
    <td><pre><?= emit( $data['escapeSquoteValue'] ) ?></pre></td>
    <td><pre><?= emit( $data['escapeDquoteValue'] ) ?></pre></td>
    <td><pre><?= emit( $data['trimValue'] )         ?></pre></td>
    <td><pre><?= emit( $data['cr2spaceValue'] )     ?></pre></td>
    <td><code><?= emit( $data['filename'] )         ?></code></td>
   </tr>
<?php
        }
    } else {
        // nothing to show
    }
}
?>
  </table>

  <hr />
  <p>Source code <a href="https://github.com/uboslinux/ubos-toyapps/tree/master/wollmilchsau/">in git</a>.</p>
 </body>
</html>






