#
# Copyright (C) 2017 and later, Indie Computing Corp. All rights reserved. License: see package.
#

production:
  adapter: mysql2
  encoding: utf8
  database: ${appconfig.mysql.dbname.maindb}
  username: ${appconfig.mysql.dbuser.maindb}
  password: ${appconfig.mysql.dbusercredential.maindb}
  host: ${appconfig.mysql.dbhost.maindb}
  port: 3306
