#
# Configuration template (may be instantiated) for gladiwashere-python-mysql.
#
# Copyright (C) 2017 and later, Indie Computing Corp. All rights reserved. License: see package.
#

DB_NAME = '${appconfig.mysql.dbname.maindb}'
DB_USER = '${appconfig.mysql.dbuser.maindb}'
DB_PASS = '${escapeSquote( appconfig.mysql.dbusercredential.maindb )}'
DB_HOST = '${appconfig.mysql.dbhost.maindb}'
