<?php
// Copyright (C) 2014 and later, Indie Computing Corp. All rights reserved. License: see package.
?>

<div class="footer">
 <hr/>
 <h4>Footer, from the <tt>gladiwashere-php-mysql-footer</tt> accessory.</h4>
 <p>Message you entered as customization point: &quot;${installable.customizationpoints.message.value}&quot;</p>
 <hr/>
</div>
