<?xml version="1.0" encoding="UTF-8"?>
<Context path="${appconfig.context}"
         antiResourceLocking="true"
         cookies="false"
         docBase="/usr/lib/java/${groupId}/${pkgname}/${pkgver}/${pkgname}-${pkgver}.war">

  <Loader className="org.diet4j.tomcat.TomcatModuleLoader"
           rootmodule="gladiwashere-java"/>

  <Resource auth="Container"
            type="javax.sql.DataSource"
            driverClassName="com.mysql.jdbc.Driver"
            name="jdbc/maindb"
            url="jdbc:mysql://${appconfig.mysql.dbhost.maindb}/${appconfig.mysql.dbname.maindb}"
            username="${appconfig.mysql.dbuser.maindb}"
            password="${escapeDquote( appconfig.mysql.dbusercredential.maindb )}"
            maxActive="20"
            maxIdle="10"
            maxWait="-1"/>
</Context>
